.Button {
  font-weight: 700;
  color: var(--gray);
  padding: 12px 34px;
  background: var(--red);
  border: 1px solid var(--red);
  border-radius: var(--default-radius);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s;
}

.Button:hover {
  background: var(--darkRed);
}

.Button:disabled {
  background: var(--gray);
  color: var(--white);
  cursor: not-allowed;
}

.Button--small {
  padding: 7px 24px;
}

.Button--very--small {
  padding: 3px 14px;
}

.Button--outline {
  background: transparent;
}
